{% extends 'root.html' %}
{% block content %}
    <p class="fs-16 font-sans-serif">ID: {{ product.pk }}</p>
    <p class="fs-16 font-sans-serif">Название продукта: {{ product.product_name }}</p>
    <p class="fs-16 font-sans-serif">Название производителя: {{ product.manufacturer_name }}</p>
    <p class="fs-16 font-sans-serif">Гарантия: {{ product.guaranty }} мес.</p>
    <p class="fs-16 font-sans-serif">Количество: {{ product.count }} шт.</p>
    <p class="fs-16 font-sans-serif">Название категории: {{ product.category_name }}</p>
    <hr class="bg-danger">

    <form action="." method="post" class="form">
        {% csrf_token %}
        {% if in_cart %}
          <p>{{in_cart}}</p>
        {% endif %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Добавить в корзину"/>
    </form>
{% endblock %}