{% load te_func %}

<div class="{{products.id}}">
    <a href="{% url 'cat:detail' products.pk %}" style="text-decoration: none; color: black;">
        <p class="fs-16 font-sans-serif">Название продукта: {{ products.product_name }}</p>
        <p class="fs-16 font-sans-serif">Название производителя: {{ products.manufacturer_name }}</p>
        <p class="fs-16 font-sans-serif">Гарантия: {{ products.guaranty }} мес.</p>
        <p class="fs-16 font-sans-serif">Количество: {{ products.count }}</p>
        <p class="fs-16 font-sans-serif">Принадлежит к категории: {{ products.category_name }}</p>
        {% if is_cart %}
            <p class="fs-16 font-sans-serif">Кол-во (в корзине): {{ cart|get_item:products.id }}</p>
            <input type="submit" class="btn btn-danger prod-{{products.id}}" value="Удалить">
        {% endif %}
        <hr class="products_divider">
    </a>
</div>